//! Создаем миксин для подключиния шрифтов
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "_nullstyle"; //! подключаем обнуление
@import "_fonts"; //! подключаем файл со шрифтами fonts.scss

//! Fonts
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
$poppins: "Poppins", sans-serif;
$montserrat: "Montserrat", sans-serif;

//! Colors
$green: #1db327;
$white: #f0f0f0;
$medium: #281230;
$dark: #17071d;
$light: hsl(284, 45%, 18%);
$pink: #e83e8c;

$h1-font-size: 2rem;
$h3-font-size: 1.5rem;

body {
  font-size: 10px;
  background-color: $dark;
}
.wrapper {
  width: 100%;
  background-color: $dark;
}
.container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "side content";
}
.sidebar {
  grid-area: side;
  background-color: $medium;
  font-family: $poppins;

  &__body {
  }

  &__logo {
    padding: 1.5rem 1rem 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
  }

  &__burger {
    display: none;
  }

  &__items {
    position: fixed;
    width: 18rem;
    top: 5rem;
    left: 0;
    font-size: 1.5rem;
    line-height: 3.5rem;
    padding: 0;
  }
  &__item {
    padding: 0.1rem 0;
    border-left: 0.3rem solid $medium;
  }
  &__item.selected {
    background-color: $light;
    border-left: 0.3rem solid $pink;
    transition: all 0.5s ease 0s;
  }
  &__item.selected .feather {
    color: $pink;
    transition: all 0.3s ease 0s;
  }
  &__link {
    color: $white;
    padding: 0 1rem;
    position: relative;
  }

  .sidebar__text {
    position: absolute;
    left: 4rem;
    font-family: $poppins;
    font-weight: 600;
  }
  .feather {
    color: $white;
    position: absolute;
    top: 5%;
    left: 1rem;
  }
}

.logo {
  font-family: $montserrat;
  color: $white;
  font-weight: 300;
  font-size: $h1-font-size;
  text-align: center;

  &__x {
    color: $green;
    font-weight: 900;
  }

  &__steamy {
    font-weight: 900;
  }
}

.content {
  grid-area: content;
  display: grid;
  grid-template: minmax(3rem, auto) 1fr minmax(3rem, auto) / 1fr;
  grid-template-areas:
    "search"
    "videos"
    "pagination";
  padding: 0;
  font-family: $poppins;
}

.search {
  grid-area: search;
  position: fixed;
  left: 18rem;
  right: 0rem;
  display: grid;
  grid-template: minmax(3rem, auto) / 1fr 3rem;
  grid-template-areas: "input button";
  padding: 1rem;
  background-color: $dark;
  margin: 0;

  &__input {
    grid-area: input;
    height: 3rem;
    font-size: 1.5rem;
    background-color: $white;
    z-index: 50;
    padding: 0 0.5rem;
  }

  &__button {
    grid-area: button;
    width: 3rem;
    height: 3rem;
    z-index: 50;
    background-color: $light;
    //border: 0.1rem solid $white;
  }
  &__icon {
    display: block;
    transform: rotate(45deg);
    color: $white;
    font-size: 2rem;
  }
}
.all-videos {
  margin: 2rem 0 0 0;
  grid-area: videos;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    padding: 0 1rem 1rem 1rem;
  }

  &__item img {
    width: 100%;
  }

  &__item-description {
    color: $white;
    font-size: 1.2rem;
    padding: 1rem 0;
  }
}
.large-2 {
  width: 50%;
}
.large-3 {
  width: 33.333%;
}
.large-4 {
  width: 25%;
}

.pagination {
  grid-area: pagination;
  margin: auto;
  padding: 1rem 0 3rem;

  &__button {
    width: 3rem;
    height: 3rem;
    margin: 0 0.3rem;
    background-color: $medium;
    cursor: pointer;
  }
  &__button.selected {
    //border-bottom: 0.2rem solid $pink;
    background-color: $light;
    transition: all 0.3s ease 0s;
  }
  &__button.selected &__link {
    color: $pink;
  }
  &__link {
    font-family: $poppins;
    font-weight: 300;
    font-size: 1.5rem;
    color: $white;
  }
}

//! max-width 1100px
@media (max-width: 1100px) {
  .small-1 {
    width: 100%;
  }
  .small-2 {
    width: 50%;
  }

  .pagination {
    margin: -1rem auto 1rem;
    padding: 1rem 0;
    &__button.hiding {
      display: none;
    }
  }
}

//! max-width 769px
@media (max-width: 769px) {
  .container {
    display: block;
    max-width: 767px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .sidebar {
    background-color: $medium;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    &__body {
      position: relative;
      /* показываем контентную часть шапки (сейчас она скрыта под подложкой) временно для наглядности */
      display: flex;
      justify-content: space-between;
      height: 3rem;
      align-items: center;
    }

    &__logo {
      position: relative;
      padding: 0;
      z-index: 3;
    }

    &__burger {
      display: block;
      position: relative;
      width: 2.5rem;
      height: 2rem;
      z-index: 3;
      cursor: pointer;
    }
    &__burger::before,
    &__burger::after {
      content: "";
      background-color: $white;
      position: absolute;
      width: 100%;
      height: 0.3rem;
      border-radius: 0.2rem;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    &__burger::before {
      top: 0;
    }
    &__burger::after {
      bottom: 0;
    }
    &__burger span {
      background-color: $white;
      position: absolute;
      width: 100%;
      height: 0.3rem;
      left: 0rem;
      top: 0.85rem;
      border-radius: 0.2rem;
      transition: all 0.3s ease 0s;
    }
    /* делаем из бургера крестик */
    &__burger.active::before {
      transform: rotate(45deg);
      top: 0.85rem;
    }
    &__burger.active::after {
      transform: rotate(-45deg);
      bottom: 0.85rem;
    }
    &__burger.active span {
      transform: scale(0);
    }

    &__link {
      color: $white;
    }
    /* убираем пункты меню */
    &__items {
      position: fixed;
      /* убираем меню вверх */
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      /* для того чтобы если наше меню не влезает в размеры экрана можно было скролить его*/
      overflow: auto;
      background-color: $medium;
      /* при помощи z-index делаем так чтобы меню было скрыто под подложкой */
      z-index: 1;
      padding: 7rem 0rem 2rem 0rem;
      transition: all 0.3s ease 0s;
    }

    &__item {
      position: relative;
      padding: 0 1rem;
    }
    &__items.active {
      top: 0;
      transition: all 0.3s ease 0s;
    }
    .feather {
      color: $white;
      position: absolute;
      top: 5%;
      left: 0rem;
    }
  }

  /* создаем подложку для меню на всю ширину и высоту нашей шапки */
  .sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $medium;
    z-index: 2;
  }
  body.lock {
    /* делаем так чтобы наш контент не скролился когда открыто меню */
    overflow: hidden;
  }
  .content {
    padding: 3.5rem 0 0 0;
    display: block;
  }

  //! Search
  .search {
    display: flex;
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
    top: 3rem;
    left: 0;
    z-index: 50;
    margin: 0;

    &__input {
      width: 100%;
      height: 2rem;
      font-size: 1.5rem;
      z-index: 3;
    }

    &__button {
      width: 2rem;
      height: 2rem;
      z-index: 3;
      position: relative;
    }
    &__icon {
      display: block;
      transform: rotate(45deg);
      color: $white;
      font-size: 1.5rem;
      position: absolute;
      left: 25%;
      top: -15%;
    }
  }
  /* создаем подложку для поиска */
  .search::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark;
    z-index: 2;
  }
  .all-videos {
    display: block;
    width: 100%;
    margin: 2.5rem 0 0 0;
    text-align: center;
    &__item {
      width: 100%;
      border: none;
      padding: 0;
      margin: 0 0 1rem 0;
      position: relative;
    }
    &__item:last-child {
      margin: 0;
    }
    &__item img {
      width: 100%;
      height: 100%;
    }

    &__item-description {
      padding: 0.5rem 0 1rem 0;
    }
  }

  .pagination {
    width: 100%;
    margin: 0 auto 1rem;
    padding: 1rem 0;
    text-align: center;
  }
}

//! max-width 510px
@media (max-width: 510px) {
  .pagination {
    padding: 0.3rem 0;
    &__button {
      width: 2.4rem;
      height: 2.4rem;
      margin: 0 0.2rem;
    }
    &__button.hiding-s {
      display: none;
    }
  }
}

//! max-width 319px
@media (max-width: 319px) {
  .logo {
    font-family: $montserrat;
    color: $white;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;

    &__x {
      color: $green;
      font-weight: 900;
    }

    &__steamy {
      font-weight: 900;
    }

    &__com {
    }
  }
  .pagination {
    padding: 0.3rem 0;
    &__button {
      width: 2rem;
      height: 2rem;
      margin: 0 0.2rem;
    }
    &__button.selected {
      border: 0.02rem solid $white;
    }
    &__link {
      font-size: 1rem;
    }
  }
}
